.background{ 
  background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
.titleName{
  font-family:"SEGA LOGO FONT";
  color:#0ccac4;
  font-weight:200;
  
}

    /* =================  Card style  ======================== */
    .scrollbar {
      overflow-y:scroll;
      height: 500px;
      width: 100%;
      position: absolute;
      right: -18px;
      
      
      
    }

    .sticky{
      position: relative;

    }
    .clear{
      border-bottom: 4px solid black;
    }
 
  
     /* ============== For Scroll ===================== */
    /* #parent{
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
  /* } */
  
  /* #child{
      position: absolute;
      top: 200px;
      bottom: 0;
      left: 0;
      right: -30px; /* Increase/Decrease this value for cross-browser compatibility */
      /* overflow-y: scroll;
      overflow-x:hidden; 
  } */ 